<html>
<head>

</head>
<body>
    <h1>Form Page</h1>
    <form action="/submit", method="post">
        <input type="number" name="A" placeholder="A" required="required">
        <input type="number" name="B" placeholder="B" required="required">
        <input type="number" name="C" placeholder="C" required="required">
        <input type="number" name="D" placeholder="D" required="required">
        <input type="number" name="E" placeholder="E" required="required">

        <button type="submit">Predict</button>
    </form>

</body>

</html>